# Godot 4+ specific ignores
.godot/
/android/

*.tmp
/Export
/addons/
/.vscode
/Archive_Solutions
/Art
/sources/android/
/sources/Solutions_classees_VERSION_JEU.json
/sources/Solutions_classees_TESTS*.json
