# Godot 4+ specific ignores
.godot/
/android/
*.uid
*.tmp

/Export
/addons/
/.vscode
/Archive_Solutions
/Art
/notice/
/sources/android/
/sources/Solutions_classees_VERSION_JEU.json
/sources/Solutions_classees_TESTS*.json

